body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

input{
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    
}




::-webkit-input-placeholder{
    color: white;
    text-align: center;
}

.weather-card{
    background-position: center;
    margin: auto;
    width: 50%;
    
  padding: 10px;
  margin-top: 1rem;
  
  font-size: 2rem;
    color: white;
    
}


footer{
    color:white;
    padding-top: 29rem;

}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover{
    color: orange;
}


.Hoseas-github{
    
    font-size: 1rem;
    color: white;
}